<% unless comment.reply.nil? %>
  <h3><%= comment.reply_url == nil ?
          h(comment.reply_name) : link_to(h(comment.reply_name), comment.reply_url) %></h3>
  <p><%= comment.reply.html_safe %></p>
<% end %>
<% if authorized_admin? %>
<p class="moderatecomment">IP: <%= comment.ip %> |
<%= link_to comment.reply.nil? ? 'Add reply' : 'Edit reply',
            edit_admin_post_comment_path(@post,comment), :remote => true %> |
<%= link_to 'Delete comment',  admin_post_comment_path(@post, comment), :confirm => 'Are you sure?',
                                        :method => :delete, :remote => true %></p>
<% end %>
