<div id="postform">
<% if controller.action_name == "index"
     path_to_action = admin_posts_path
   else
     path_to_action = admin_post_path(@post)
   end %>
<%= form_for(@post, :url => path_to_action, :remote => true ) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 15 %>
  </div>
  <div class="field">
    <%= f.label "Tags" %><br />
    <%= f.text_field :tags_as_string %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <% unless @post.new_record? %>
      <%= link_to "Cancel", @post, :remote => true %>
    <% end %>
  </div>
<% end %>
</div>
