<% cache("pc#{@post.pid}") do %>
  <% if @post.comments.size > 0 %>
    <% for comment in @post.comments.order_by(:created_at => :asc) %>
      <% unless comment.new_record? %>
        <%= render comment %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div id=<%= "lc#{@post.pid}" %>></div>
<% if signed_in? %>
  <p>Signed in as <%= link_to identity_or_name(current_user), current_user.identity %> |
                  <%= link_to "Sign out", signout_path %></p>
<% else %>
  <p>Not signed in (anonymous) |
     <%= link_to "Sign in", signin_path(:rt => session[:return_to]) %></p>
<% end %>

<%= form_for [@post, @new_comment], :html => { :id => "fc#{@post.pid}" }, :remote => true do |f| %>
  <%= render "shared/error_messages", :object => @new_comment %>
  <p><%= f.text_area :content, :rows => 10 %></p>
  <p><%= f.submit %> <span id="<%= "cnt#{@post.pid}" %>"></span></p>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
    $("<%= "#fc#{@post.pid}" %> textarea").maxChar(500, {indicator: "<%= "cnt#{@post.pid}" %>"});

    setInterval(function () {
      if($("<%= "#fc#{@post.pid}" %> textarea").val().length <= 500) {
        $("<%= "#fc#{@post.pid}" %> input").removeAttr("disabled");
      } else {
        $("<%= "#fc#{@post.pid}" %> input").attr("disabled", "disabled");
      }
    }, 200);
  });
</script>