<div id=<%= "p#{post.pid}" %> class="postbox" >
  <div class="post">
    <h2><%= link_to post.title, post %></h2>
    <p><%= typa_graf(post.content).html_safe %></p>
    <p class="postinfo"><%= time_info(post.created_at, post.updated_at) %>
      Tags: <%= tags_list(post.tags).html_safe %></p>
    <p><% if signed_in? %>
         <% if current_user.admin? %>
           <%= link_to 'Edit', edit_post_path(post), :remote => true %>,  |
           <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete,
                                       :remote => true %> |
         <% end %>
       <% end %>
       <% cc="Comments: #{post.comments_counter.to_i}" %>
       <% if controller.action_name == "index" or controller.action_name == "create" %>
         <%= link_to cc, expand_comments_post_path(post),
             :remote => true,
             :id => "showc#{post.pid}" %></p>
       <% else %>
         <%= link_to cc, collapse_comments_post_path(post),
             :remote => true,
             :id => "showc#{post.pid}" %></p>
       <% end %>
  </div>
</div>