  <div class="post">
    <h2><%= link_to post.title, post %></h2>
    <%= (post.html_content.nil? ? prepare_text(post.content)+('<br><b>realtime render</b><br>') : post.html_content).html_safe %>
    <div class="postinfo"><%= time_info(post.created_at, post.updated_at) %><br>
      Tags: <%= tags_list(post.tags) %></div>
    <div class="postpanel">
      <% if authorized_admin? %>
        <div class="postadm">
          <%= link_to_edit(post) +' | '+ link_to_delete(post) %>
        </div>
      <% end %>
      <div class="postcomm">
        <% cc=post.comments_counter.to_i %>
        <% if controller.action_name!="show" %>
          <%= link_to_expand_comments(post,cc) %>
        <% else %>
          <%= link_to_collapse_comments(post,cc) %>
        <% end %>
      </div>
    </div>
  </div>