<% next_page = nil %>
<% if authorized_admin? %>
  <div class="contentbutton button" id="newpostbutton" onclick='$("#newpostbox").toggle({ effect: "blind"});'>
  NEW POST</div>
  <div id="newpostbox" class="postbox" style="display:none;">
    <%= render :partial => 'admin/posts/form' %>
  </div>
<% end %>
<div id="posts">
  <div id="firstpost"></div>
  <% @posts.each_with_index do |post,index| %>
    <% cache("index@posts@#{post.pid}@#{authorized_admin?}") do %>
      <% if index < items_per_page %>
        <div id=<%= "p#{post.pid}" %> class="postbox">
        <%= render post %>
        </div>
        <div id=<%= "pc#{post.pid}" %> style="display: none;" ></div>
      <% else %>
        <% next_page = post.pid %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div id="paginator" class="button contentbutton" >
<% unless next_page.nil? %>
  <%= link_to 'NEXT PAGE &rarr;'.html_safe, posts_path({:p => next_page, :s => params[:s] }), :remote => true %>
<% else %>
  <%= link_to_function "&uarr; UP &uarr;".html_safe,
                        "$( 'html, body' ).animate( { scrollTop: 0 }, 0 );" %>
<% end %>
</div>