<% if authorized_admin? %>
  <div id="newpostbutton"><p>NEW POST</p></div>
  <div id="newpostbox" class="postbox" style="display:none;">
    <%= render :partial => 'admin/posts/form' %>
  </div>
<% end %>
<div id="posts">
  <div id="firstpost"></div>
  <% @posts.each do |post| %>
    <%= cache(:action => "index", :id => post.id) do %>
       <%= render post %>
       <div id=<%= "pc#{post.pid}" %> style="display: none;" ></div>
    <% end %>
  <% end %>
</div>
<div id="paginator">
  <%= link_to_next_page(@posts, "&darr; MORE POSTS &darr;".html_safe, :remote => true ) %>
</div>