<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
  <%=  javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <a href="/" title="Powered by MongoDB"><img src="/images/rad-30px-white.png" id='logopic'/>
      <h1>Mongologue</h1></a>
    </div>
<form id="searchbox" accept-charset="UTF-8" action="/" method="get" autocomplete="off">
<input id="search" name="s" type="text" value='<%= "#{mainpage? ? params[:s] : ''}" %>'
       placeholder="Enter comma-separated words and press Enter." />
<div id="fakesearch"></div>
<div id="rss">
  <a href="/feed.rss<%= "?s=#{params[:s]}" if params[:s] %>" title="RSS feed.">
  <img src="/images/rss-20px.png"><p>Posts: <span id="postscounter">
  <%= mainpage? ? @posts_count : Post.count %></span></p></a>
</div>
</form>
<div id="clientinfo"></div>
<div id="container">
<p></p>
<div id="jsflash"></div>
<div id="content">
  <%= yield %>
</div>
<div id="side-b">
  <div id="edituser"></div>

  <% if !showpostpage? %>
    <% cache("topposts") do %>
      <div id="toppostsbutton" class="button rightbutton">Fresh &amp; commented</div>
      <div id="topposts"><p><%= top_commented_posts %></p></div>
    <% end %>
  <% else %>
    <div id="youareherebutton" class="button rightbutton">You are here</div>
    <div id="youarehere"><p><%= you_are_here(@post,10) %></p></div>
  <% end %>

  <div id="tagsbutton" class="button rightbutton">All tags</div>
  <% cache('tagscloud') do %>
    <%= render :partial => '/tags/tagscloud' %>
  <% end %>
<% cache("footer") do %>
      <div id="aboutbutton" class="button rightbutton">Author info</div>
      <div id="abouttext">
        <p><a href="#">About author</a><br>
           Google+<br>
           Facebook<br>
           Livejournal<br>
           Twitter<br>
           Github<br>
           <br>
           Skype:<br>
           ICQ:<br>
           <a href="mailto:example@example.com">author@example.com</a></p>
      </div>
      <div id="siteinfobutton" class="button rightbutton">Site info</div>
      <div id="siteinfo">
        <p><a href="#">About this site</a>.</p>
        <p>Created with <a href="http://rubyonrails.org/">Ruby on Rails 3.1</a>.</p>
        <p>Powered by <a href="http://mongodb.org">MongoDB</a> and <a href="http://mongoid.org">Mongoid</a>.</p>
        <p>Inspired by <a href="http://spectator.ru">Dmitry Smirnov</a>.</p>
      </div>
    </div>
  </div>
  <div id="footer">2011 ☢ “First they ignore you, then they laugh at you, then they fight you, then you win.”</div>
</div>
</body>
</html>
<% end %>