<% store_location unless controller.controller_name == "sessions" %>
<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= stylesheet_link_tag 'jquery.cleditor' %>

  <%=  stylesheet_link_tag 'orange/jquery-ui-1.8.13.custom.css', :media => 'screen' %>
  <%=  javascript_include_tag 'jquery-1.6.min', 'jquery.cookie', "jquery-ui-1.8.13.custom.min", "autosuggest",
                              'jquery.cleditor', 'jquery.address', 'rails', 'application' %>

  <%= csrf_meta_tag %>

<script type="text/javascript">

  $(document).ready(function() {
       $( "#youarehereslider" ).slider({ orientation: 'vertical', step: 10, value: 100 });
 });

</script>

</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <a href="/" title="Powered by MongoDB"><img src="/images/rad-30px-white.png" id='logopic'/>
      <h1>Mongologue</h1></a>
    <p>Powered by MongoDB</p>
    </div>
    <form id="searchbox" accept-charset="UTF-8" action="/" method="get" autocomplete="off">
      <input id="search" name="s" type="text" value='<%= "#{mainpage? ? params[:s] : ''}" %>'
             title="Enter comma-separated words and press Enter." />

      <div id="fakesearch"></div>
      <div id="rss">
        <a href="/feed.rss<%= "?s=#{params[:s]}" if params[:s] %>" title="RSS feed.">
        <img src="/images/rss-20px.png"><p>Posts: <span id="postscounter">
        <%= "#{mainpage? ? @posts_count : Post.count}" %></span></p></a>
      </div>
    </form>
    <div id="clientinfo">
      <div id="greeting">
      <% if signed_in? %>
           <%= "(A)" if current_user.admin? %>
           <%= link_to identity_or_name(current_user), current_user.identity %><br>
           <%= link_to "Sign out", signout_path %>
      <% else %>
           <%= link_to "Sign in", signin_path(:rt => session[:return_to]) %>
      <% end %>
      </div>
      <% if signed_in? %>
      <div id="passwordinfo">
        <%= password_status_text(current_user) %>
      </div>
      <% end %>
    </div>
  </div>
  <div id="container">
    <div id="jsflash"></div>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
    <div id="side-b">
      <div id="edituser"></div>

      <% if !showpostpage? %>
        <div id="toppostsbutton" class="button rightbutton">Fresh &amp; commented</div>
        <div id="topposts"><p><%= top_commented_posts %></p></div>
      <% else %>
        <div id="youareherebutton" class="button rightbutton">You are here</div>
        <div id="youarehere"><div id="youarehereslider"></div><p><%= you_are_here(@post,10) %></p></div>
      <% end %>

      <div id="tagsbutton" class="button rightbutton">All tags</div>
      <% cache('tagscloud') do %>
        <%= render :partial => '/tagscloud' %>
      <% end %>
      <div id="aboutbutton" class="button rightbutton">Author info</div>
      <div id="abouttext">
        <p><a href="#">About author</a><br>
           Facebook</br>
           Livejournal</br>
           Twitter</br>
           Github</br>
           </br>
           Skype: author</br>
           ICQ: 22233344</br>
           <a href="mailto:example@example.com">author@example.com</a></p>
      </div>
      <div id="siteinfobutton" class="button rightbutton">Site info</div>
      <div id="siteinfo">
        <p><a href="#">About this site</a>.</p>
        <p>Created with:<br><a href="http://rubyonrails.org/">Ruby on Rails 3</a>,
           <a href="http://mongoid.org">Mongoid</a>,
           <a href="https://github.com/julik/gilenson">Gilenson</a>,
           <a href="https://github.com/galetahub/loginza">Loginza</a>,
           <a href="http://jquery.com/">jQuery</a>.</p>
        <p>Inspired by <a href="http://spectator.ru">Dmitry Smirnov</a>.</p>
      </div>
    </div>
  </div>
  <div id="footer"><p>☢ 2011<br>
      “First they ignore you, then they laugh at you, then they fight you, then you win.”</p>
      <%= debug(params) if Rails.env.development? %>
  </div>
</div>

</body>
</html>

