<% cache("header@#{page_name}") do %>
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
  <%=  javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <a href="/" title="Powered by MongoDB"><img src="/images/rad-30px-white.png" id='logopic'/>
      <h1>Mongologue</h1>
    <p>Powered by MongoDB</p></a>
    </div>
    <form id="searchbox" accept-charset="UTF-8" action="/" method="get" autocomplete="off">
<% end %>
<input id="search" name="s" type="text" value='<%= "#{mainpage? ? params[:s] : ''}" %>'
       placeholder="Enter comma-separated words and press Enter." />
<div id="fakesearch"></div>
<div id="rss">
  <a href="/feed.rss<%= "?s=#{params[:s]}" if params[:s] %>" title="RSS feed.">
  <img src="/images/rss-20px.png"><p>Posts: <span id="postscounter">
  <%= mainpage? ? @posts_count : Post.count %></span></p></a>
</div>
</form>
<% if !signed_in? %>
<div id="clientinfo">
<div id="greeting">
     <%= "<a href='/signin?rt=#{session[:return_to]}'>Sign in</a>".html_safe %>
</div>
</div>
<% else %>
  <% cache("clientinfo@#{current_user}") do %>
    <div id="clientinfo">
    <div id="greeting">
         <%= "(A)" if current_user.admin? %>
         <%= "<a href='#{current_user.identity}'>#{identity_or_name(current_user)}</a>".html_safe %><br>
         <%= "<a href='/signout'>Sign out</a>".html_safe %>
    </div>
    <div id="passwordinfo">
         <%= password_status_text(current_user) %>
    </div>
    </div>
  <% end %>
<% end %>
</div>
<div id="container">
<div id="jsflash"></div>
<div id="content">
  <%= yield %>
</div>
<div id="side-b">
  <div id="edituser"></div>

  <% if !showpostpage? %>
    <% cache("topposts") do %>
      <div id="toppostsbutton" class="button rightbutton">Fresh &amp; commented</div>
      <div id="topposts"><p><%= top_commented_posts %></p></div>
    <% end %>
  <% else %>
    <% cache("youarehere@p#{@post.pid}") do %>
      <div id="youareherebutton" class="button rightbutton">You are here</div>
      <div id="youarehere"><div id="youarehereslider"></div><p><%= you_are_here(@post,10) %></p></div>
    <% end %>
  <% end %>

  <div id="tagsbutton" class="button rightbutton">All tags</div>
  <% cache('tagscloud') do %>
    <%= render :partial => '/tagscloud' %>
  <% end %>
<% cache("footer") do %>
      <div id="aboutbutton" class="button rightbutton">Author info</div>
      <div id="abouttext">
        <p><a href="#">About author</a><br>
           Facebook</br>
           Livejournal</br>
           Twitter</br>
           Github</br>
           </br>
           Skype: author</br>
           ICQ: 22233344</br>
           <a href="mailto:example@example.com">author@example.com</a></p>
      </div>
      <div id="siteinfobutton" class="button rightbutton">Site info</div>
      <div id="siteinfo">
        <p><a href="#">About this site</a>.</p>
        <p>Created with:<br><a href="http://rubyonrails.org/">Ruby on Rails 3</a>,
           <a href="http://mongoid.org">Mongoid</a>,
           <a href="https://github.com/julik/gilenson">Gilenson</a>,
           <a href="https://github.com/galetahub/loginza">Loginza</a>,
           <a href="http://jquery.com/">jQuery</a>.</p>
        <p>Inspired by <a href="http://spectator.ru">Dmitry Smirnov</a>.</p>
      </div>
    </div>
  </div>
  <div id="footer"><p>☢ 2011<br>
      “First they ignore you, then they laugh at you, then they fight you, then you win.”</p>
      <%= debug(params) if Rails.env.development? %>
  </div>
</div>

</body>
</html>
<% end %>