<% store_location %>
<!DOCTYPE html>
<html>
<head>
  <title><%= current_user_name %> - ☢ Mongologue</title>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag 'jquery-1.6.min', 'jquery.cookie', 'rails', 'application' %>

  <%= csrf_meta_tag %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.rightbutton, .bottombutton, #newpostbutton')
      .hover(function() {
      $(this).animate({ fontSize: "120%" }, 'fast');
      }, function() {
      $(this).animate({ fontSize: "100%" }, 'fast');
    });

    $("#newpostbutton")
      .click(function() {
      $("#newpostbox").slideToggle();
    });

    $("#tagsbutton")
      .click(function() {
      $("#tagscloud").slideToggle();
    });

    $("#aboutbutton")
      .click(function() {
      $("#abouttext").slideToggle();
    });

    $("#siteinfobutton")
      .click(function() {
      $("#siteinfo").slideToggle();
    });


 });

</script>

</script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
    <a href="/" title="Powerd by MongoDB"><img src="/images/rad-30px-white.png" id='logopic'/><h1>Mongologue</h1></a>
    <p>Powered by MongoDB</p></a>
    </div>
      <form id="searchbox" accept-charset="UTF-8" action="/" method="get">
         <input id="search" name="s" type="text" value="<%= params[:s] %>" />
      </form>

      <% if controller.action_name == "index" %>
        <div id="rss">
        <a href="/posts.rss?s=<%= params[:s] %>" title="Get RSS feed of this search!">
        <img src="/images/rss-20px.png"><p>Posts: <span id="postscounter">
        <%= "#{@posts.count}" %></span></p></a></div>
      <% end %>

    <div id="clientinfo" class="box">
      <div id="greeting">
      <% if signed_in? %>
           <%= "(A)" if current_user.admin? %>
           <%= link_to identity_or_name(current_user), current_user.identity %><br>
           <%= link_to "Sign out", signout_path, :method => :delete %>
      <% else %>
        <%= loginza_button_tag("Sign in",
                               'http://'+request.env["HTTP_HOST"]+signin_path+'?return_to='+request.fullpath) %>
      <% end %>
      </div>
      <% if signed_in? %>
      <div id="passwordinfo">
        <%= password_status_text(current_user) %>
      </div>
      <% end %>
    </div>
  </div>
  <div id="container">
    <div id="content">
      <div id="jsflash"></div>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
    <div id="side-b">
      <div id="edituser"></div>
      <div id="tagsbutton" class="rightbutton"><p>TAGS</p></div>
      <% cache('tagscloud') do %>
        <div id="tagscloud" style="display:none;" ><p><%= tags_cloud.html_safe %></p></div>
      <% end %>
      <div id="aboutbutton" class="rightbutton"><p>AUTHOR INFO</p></div>
      <div id="abouttext" style="display: none;" >
        <p><a href="#">About author</a><br>
           Facebook</br>
           Livejournal</br>
           Twitter</br>
           Github</br>
           </br>
           Skype: author</br>
           ICQ: 22233344</br>
           <a href="mailto:example@example.com">author@example.com</a></p>
      </div>
      <div id="siteinfobutton" class="rightbutton"><p>SITE INFO</p></div>
      <div id="siteinfo" style="display: none;">
        <p><a href="#">About this site</a>.</p>
        <p>Created with:<br><a href="http://rubyonrails.org/">Ruby on Rails 3</a>,
           <a href="http://mongoid.org">Mongoid</a>,
           <a href="https://github.com/amatsuda/kaminari">Kaminari</a>,
           <a href="https://github.com/galetahub/loginza">Loginza</a>,
           <a href="http://jquery.com/">jQuery</a>.</p>
        <p>Inspired by <a href="http://spectator.ru">Dmitry Smirnov</a>.</p>
      </div>
    </div>
    <div id="footer"><p>☢ 2011<br>
      “First they ignore you, then they laugh at you, then they fight you, then you win.”</p>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</div>

</body>
</html>

