<% store_location %>
<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag 'jquery-1.6.min', 'rails', 'application' %>

  <%= csrf_meta_tag %>
<script type="text/javascript">
$(document).ready(function() {
  $('.rightbutton')
    .hover(function() {
    $(this).animate({ fontSize: "120%" }, 'fast');
    }, function() {
    $(this).animate({ fontSize: "100%" }, 'fast');
  });
  $("#tagsbutton")
    .click(function() {
    $("#tagscloud").slideToggle();
  });
  $("#aboutbutton")
    .click(function() {
    $("#abouttext").slideToggle();
  });


});
</script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><%= link_to "Mongologue", root_path %></h1>
      <p id="notice"><%= notice %></p>
    </div>
    <div id="clientinfo">
      <% if signed_in? %>
        <p>Hello, <%= "master" if current_user.admin? %>
           <%= link_to identity_or_name(current_user), current_user.identity %> |
           <%= link_to "Sign out", signout_path, :method => :delete %></p>
      <% else %>
        <p><%= loginza_button_tag("Sign in",
                              'http://'+request.env["HTTP_HOST"]+signin_path+'?return_to='+
                              request.fullpath) %></p>
      <% end %>
    </div>
  </div>
  <div id="container">
    <div id="content">
      <%= yield %>
    </div>
    <div id="side-b">
      <div id="site_info">
        <% if controller.action_name == "index" %>
          <p>Posts: <span id="postscounter"><%= "#{@posts.count}" %>
          <% if authorized_admin? %>
             | <%= link_to 'New post', new_post_path, :id => "newpostlink", :remote => true %>
          <% end %>
          </p>
        <% end %>
      </div>
      <div id="tagsbutton" class="rightbutton"><p>TAGS</p></div>
      <% cache('tagscloud') do %>
        <div id="tagscloud" style="display: none;" ><p><%= tags_cloud.html_safe %></p></div>
      <% end %>
      <hr>
      <div id="aboutbutton" class="rightbutton"><p>ABOUT</p></div>
      <div id="abouttext" style="display: none;" >
        <p>about author</br>
           facebook</br>
           livejournal</br>
           twitter</br>
           github</br>
           </br>
           skype: author</br>
           icq: 22233344</br>
           <a href="mailto:example@example.com">author@example.com</a></p>
      </div>

      </div>
    </div>
  <div id="footer">FOOTER
    <%= debug(params) if Rails.env.development? %>
  </div>
  </div>
</div>

</body>
</html>

